::-webkit-scrollbar { 
    display: none;
}

#term {
	position: absolute;
	text-align: justify;
	overflow: auto;
	background-color: black;
	color: white;
	font-size: 1em;
	width: 100%;
	font-family: monospace, Monaco, Courier;
	padding: 10px;
	max-height: 80%;
	left: 0;
	right: 0;
	margin: auto;
}



